body {
    background: #f1f1f1;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 440px;
    background: #FFF;
    border-radius: 8px;
    height: auto;
    padding: 20px;
}

.form-row{
    margin-bottom: 12px;
}

.form-row label {
    display: block;
    margin-bottom: 3px;
}

.form-row input{
    width: calc(100% - 16px);
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    height: 25px;
    font-size: 1.2rem;
}

